body 
{
    background: #23232e !important;

}

.dropbtn > *
{
    pointer-events: none;
}


.navbar
{
    background: #23232e !important;
    justify-content: space-evenly;
    border-radius: 0px 0 10px 10px !important;
   

}

.navbar *
{
    background: #23232e !important;
    

}

.container
{
    margin-top: 50px;
    margin-bottom: 40px;
    background: #1e1e28 !important;
   /* box-shadow: 0 0 15px #0d0e13;*/
    padding-bottom: 50px;
    border-radius: 7px;

    
}


h1
{
    color: #ffffff !important;
    font-family: Iceland;
}

h6
{
    font-family: Abel;
    color: #ffffff !important;
    font-size: 10px;
}

.grid 
{
    
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 25%);
    grid-gap: 50px;
    background: #1e1e28 !important;
    border-radius: 0px 0px 12px 12px;
    height: 50%;


}

.grid-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*border-radius: 7px 7px 0px 0px;*/
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
   /* translate: 0px -30px;*/
    /*position: relative;*/
    z-index: -1;

    

}

.topnav
{
    overflow:visible;
    width: 100%;
    background: #2d2d3a !important;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    border-radius: 0 0 7px 7px;
    /*translate: 0px -30px;*/


}


button
{

    background:  #007BFF !important;
    height: 28px;
    width: 40%;
    outline: none !important;
    border: none !important;
    border-radius: 7px;
    padding: 5px;
    line-height: 10px;
    


    
}

.buttons button
{
    margin: 10px;
    
}

.top-buttons
{
    /*display: flex;*/
    justify-content: center;
    padding-top: 0px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /*background: #1a1b21 !important;*/

}

.window
{
    margin-top: -5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
   
}

.topnav span
{
    font-family: Abel;
    color: #e3e1e9 !important;
    font-size: 20px;
}


.contain
{
   
    background: #2d2d3a !important;
    padding: 5px;
    padding-bottom: 70px;
    border-radius: 7px;
    margin: 25px;
    border: 1px solid #424250;
}

#stop, #record
{

    width: 110px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
   
    

}

#record
{
   
    color: rgb(255, 255, 255);
    background-color: #6480ac !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;            
    font-weight: 600;
    text-align: center !important;
    /*padding: 12px 28px;*/
    font-size: 16px;
    /*text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);*/
    margin-right: 16px;
}

#record:hover
{

    background-color: #7998c3 !important; /* Darker hover color */
    box-shadow:  4px 8px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease;             
                
}

    



#stop
{

    background: #d9534f !important;
    /*border: 2px solid #6480ac !important;*/
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-weight: 600;
    text-align: center;
   /* padding: 12px 28px;*/
    font-size: 16px;    
    border-radius: 10px;  
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin-right: 16px;
}

#stop:hover
{
    background-color: #e74c3c !important;
    box-shadow:  4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#clear
{
    background: #6480ac !important;
}

/* Dropdown */

.dropdown
{
    position: relative;
    display: inline-block;
    z-index: 1;
    border-radius: 12px;
}

.dropdown-content * {
    background-color:#2e2e3a47 !important;

}

.dropdown-content
{
    width: 120px;
    border-radius: 0px 12px 12px 12px;
    box-shadow: 0px 6px  rgba(0,0,0,0.1);
    position: absolute;
    background-color:#2e2e3a47 !important;
    display: none;
    z-index: 2;
    translate: -73px -17px;
    color: #e0e0e0;
   /* border: #515a6a 1px solid;*/
    border-radius: 0px 12px 0px 12px;
   

}

.dropdown-content button
{
   
    margin: 2px;
    display: block;
    background-color:#2e2e3a47 !important;
    color: #e0e0e0;
    text-align: left;
    cursor: pointer;
    width: 98%;
    
}

.dropbtn
{
    background-color: none !important;
    width: 60px !important;
    height: 60px;
    padding: 10px;
    overflow: hidden !important;
   /* translate: -30px 0px ;*/
    text-align: center;
    color: #e0e0e0;
    

}

#menu-ic
{
    font-size: 40px;
}

.dropbtn:hover
{
    transform: scale(1.1);
    color:#6480ac !important;
    transition: all 0.3s ease;
}



.show
{
    display: block;
}


#menu:hover
{
    color:#6480ac;
    transition: all 0.3s ease;
    cursor: pointer;
    
}

/* Dropdown for Add Button */

.add-drop
{
    position: relative;
    background-color:#2e2e3a47 !important;
    border-radius: 12px;
    

}

.add-drop *
{
    background-color:#2e2e3a47 !important;
}

.add-content
{
    display: none; 
    border-radius: 12px 2px 2px 12px;
   /* border: #515a6a 1px solid;*/
    position: absolute;
    width: 90px;
    z-index: 1;
    translate: -90px -33px;

}

.add-content button
{
    
    display: block;
    background-color:#2e2e3a47 !important;
    font-size: 12px;
    text-align: left;
    width: 100%;
    margin: 2px;
    overflow: hidden;
    color: #e0e0e0;



}



.add-drop:hover .add-content
{
   
   display: block;
}

.add-drop:hover .add-btn
{
    font-size: larger;
}

.add-content button:hover
{
    color:#f5f5f5;
    
}

.dropdown-content button
{
    width: 97%;

}

.dropdown-content button:hover
{
    color: #f5f5f5 !important;
    background-color: #6480ac !important;
}

/* Form Pop Up */

.form-popup
{
    z-index: 9;
    width: 50%;
    margin: auto;
    background-color: #23232e;
    color: #dadeff;
    box-shadow: 0 0 6px #161821;
    border-radius: 12px;
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.top-span
{
    display: flex;
    justify-content:space-evenly;
}

#ic1
{
    visibility: hidden;
    font-size: 30px;
}

#close-ic
{
    font-size: 30;
    padding-top: 0px;
    color: #97a7c1;
}

#close-ic:hover
{
    color: white;
    transform: scale(1.1);
    text-shadow:  1px 2px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease;    
}

.close-button
{
    width: 30px;
    background: none !important;
}

.add-cam-h2
{
    font-family: Roboto;

}



input
{
    background: #424250 !important;
    outline: none !important;
    border: none !important;
    border-radius: 12px;
    padding: 15px;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    color: #97a7c1 !important;

    
}

.input-div
{
    height: 50px;
}



#adding
{
    background: #6480ac !important;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 110px;
    border-radius: 12px;
    line-height: 10px;
    /*border: 2px solid #6480ac !important;*/
    text-align: center;
    color: white !important;
    animation: pulse-effect 2s infinite;
   
}

#adding:hover
{
    transform: scale(1.1);
    box-shadow:  2px 4px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease;     
}


#help-icon
{
    font-size: 11px !important;
    color: #97a7c1 !important;
}

#cancel
{
    background: #23232e !important;
    color: #fcfdfe;
    border: 2px solid #6480ac !important;
    height: 40px;
    width: 110px;
    border-radius: 12px;
    line-height: 10px;
    text-align: center;
   /* translate: 5px -55px;*/
    
}

.pop-buttons
{
    display: flex;
    justify-content: right;
    margin-bottom: 0px;
}

.reveal
{
    display: block;

}

/* Menu For Camera */

[id^="img-menu-"]
{
   
    color:#dadeff;
    z-index: 8;
    font-size: 40px !important;
    /*translate: 45px 0px;*/
}

[id^="img-menu-"]:hover
{
    
    color:rgb(202, 217, 255);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.menu-icon
{
    cursor: pointer;
    
}

[class^="more-icon-"]
{
    height: 60px;
    width: 30px;
    text-align: center;
    background: none  !important ;
}

[class^="more-icon-"]:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

button {
    font-family: Roboto !important;
}

/* Rec Icon */


.rec-contain
{
    display: none;
    position: absolute;
    justify-content: right;
   /* translate: 0px 24px;*/
    padding: 5px;
    z-index: 10;
    color: #fc4c38;
    font-weight: 600;
    
}

.displayRec
{
    display: flex;
}

/* More Menu Dropdown */

[class^="more-dropdown-"]
{
    position: relative;
    display: inline-block;
    z-index: 1;
   
}

[class^="more-dropdown-content"]
{
    width: 160px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0px 6px  rgba(0,0,0,0.1);
    position: absolute;
    background-color:#2e2e3a47 !important;
    display: none;
    translate: 40px -50px;
    z-index: 999999;
    color: #e0e0e0;
    /*border: #515a6a 1px solid;*/

}

[class^="more-dropdown-content"] button
{
    margin: 2px;
    display: block;
    background-color:#2e2e3a47 !important;
    color: #e0e0e0;
    text-align: left;
    cursor: pointer;
    width: 98%;
}

[class^="more-dropdown-content"] button:hover
{
    color: #f5f5f5 !important;
    background-color: #6480ac !important;
}

[class^="more-dropdown-content"].toggle {
    display: block; /* Show when toggled */
}



/* More Menu Dropdown END */



/* Motion Detection Popup on Hover*/

.motion-content
{
    position: absolute;
    width: 90px;
    z-index: 1;
    translate: 159px -33px;
    display: none;
}

.motion-content button
{
    display: block;
    background-color:#2e2e3a47 !important;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin: 2px;
    overflow: hidden;
    color: #e0e0e0;

}

.motion-dropdown:hover .motion-content
{
    display: block;
}



.motion-dropdown:hover .motion-btn
{
    font-size: large;
}


/* Motion Detection Popup on Hover END*/

/* Settings Popup */

.settings-popup
{
    max-width: 600px; /* Adjust as needed */
    width: 80%; /* Makes it responsive */
    height: 90%;
    margin: 0 auto; /* Centers the modal */
    overflow: scroll;
    z-index: 99999;
    box-shadow: 0 0 6px #161821;
    background-color: #23232ef7;
    border-radius: 12px;
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    justify-content: space-between; /* Spreads out content vertically */
}

.appear
{
    display: block;
}

.settings-popup h2
{
    color: #dadeff;
    padding: 5px;

}

.settings-popup h6
{
    padding-left: 10px;
}

.settings-popup h4
{
    padding: 5px;
    color: #dadeff;
    font-size: medium;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #9498bb solid;
    background-color: #3d3d4f9c;
   
}




.settings-popup h5
{
    color: #ffffff; /* or a contrasting color */
    font-size: 1.2em; /* Make headings more readable */
    padding-left: 10px;
}

.settings-popup input
{

    border-radius: 8px;
    box-shadow:  2px 4px 4px rgba(0, 0, 0, 0.2);
    width: 50px;
    padding: 5px;
    margin-left: 10px;
}

.settings-popup input[type=radio]
{
    border: 0px;
    width: 15px;
    
}

input[type="text"]:hover {
    border-color: #6480ac; /* Accent color on hover */
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.apply
{
    translate: 488px 45px;
}

.apply:hover
{
    border-color: #2d405f; /* Accent color on hover */
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);

}


.settings-popup form
{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 80px;
    

}

#record-form
{
    width: 50px !important;
    padding-right: 0px !important;
    padding: 10px !important;
    display: inline;
    padding-left: 10px;


    
}

#record-form div
{
    width: 70%;
    padding-left: 10px;
    padding-bottom: 50px;
}

.record-form input
{
    width: 10px;
}

.subheading
{
    padding: 5px;
    font-size: small;
    color: #9498bb;

}



.each-camera
{
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    background-color: rgba(34, 34, 45, calc(0.2 + ((var(--index)) + 1) * 0.2));
}

.setting-div
{
    margin-bottom: 50px;
    
}


/* Settings Popup End */
