body 
{
    background: #ffffff !important;

}

.navbar
{
    background: #01304e !important;
    justify-content: space-evenly;
    border-radius: 0px 0 10px 10px !important;
   

}

.navbar *
{
    background: #01304e !important;
    

}

.container
{
    background: #04070c !important;
    
}


h1
{
    color: #09c7d1 !important;
    font-family: Iceland;
}

h6
{
    font-family: Abel;
    color: #09c7d1 !important
}

.grid 
{
    
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 25%);
    grid-gap: 50px;
}

.grid-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border: #d4f6fc solid 1px;
    
    
}

.topnav
{
    overflow: hidden;
    width: 100%;
    background: #17607c !important;
    display: flex;
    justify-content: space-evenly;
    border: #d4f6fc solid 1px;

}


button
{
    width: 5%;
    height: 5%;
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;

    
}

.buttons button
{
    margin: 10px;
    
}

.top-buttons
{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: #04070c !important;

}

.window
{
    margin-top: -5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: #04070c !important;
}

.topnav span
{
    font-family: Abel;
    color: #09c7d1 !important;
    font-size: 20px;
}

form
{
    margin-top: 5%;
}

input
{
    background: #d4f6fc !important;
}

#adding
{
    background: #027ca1 !important;
    height: 30px;
}
