{% extends "layout.html" %}

{% block title %}
    Video Stream
{% endblock %}

{% block main %}

<!-- All cameras from first index to last in cameras-->

    <div class="img-container"> 
        <!-- List id is the camera number from the for loop-->
        <img src="{{ url_for('video_feed', id = camera_number) }}" width="640" height="480">
        <div class="buttons">
        <button type="button" onclick="stop(this)" class="btn btn-dark">Stop</button>  
        <button type="button" onclick="startRecording(this)" class="btn btn-success" id="record">Record</button> 
        <button type="button" onclick="stopRecording(this)" class="btn btn-danger" id="stop">Stop Recording</button>
    </div>


  <script>
    function startRecording(elem) 
    {
        fetch('/start_rec', {method:"POST"});

    }
    function stopRecording(elem)
    {
        fetch('/stop_rec', {method:"POST"});
    }
    
    function stop(elem)
    {
        fetch('/stop', {method:"POST"})
    }
   


  </script>

  {% endblock %}  
